.allbuttonnav{
    display: flex;
    direction: rtl;
    background-color: rgb(245 245 245);
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
}
.allbuttonnav:active
{
color:black;
}

.allbuttonnav:hover
{
color:black;
}

.allbuttonnav:visited
{
color:black;
}

.allbuttonnav:link
{
color:black;
}

.div1buttonnav{
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 3%;
}
.div2buttonnav{
    margin-right: 10%;
    margin-top: 2.5%;
}
.div3buttonnav{
    margin-right: 10%;
    margin-top: 2.5%;
}

.div4buttonnav{
    display: flex;
    flex-direction: column;
    margin-right: 13%;
    margin-top: 2.5%;
}

.four{
    width: 50%;
    height: 8%;
    margin-right: 25%;
    margin-top: 6%;
}

.two{
    margin-top: 6%;
}

.three
{
    margin-top: 6%;
    /* height: 15%; */
    margin-bottom: 6%;
}

.word1div1{
    font-size: 20%;
}
