*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #fff;
  color: #000;
}

.add-to-cart.added {
  background-color: #000;
  color: #fff;
  text-decoration: line-through;
}

.add-to-cart.added .text {
  opacity: 0.5;
}

@keyframes add-to-cart-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.add-to-cart:hover {
  animation: add-to-cart-animation 0.5s ease-in-out;
}
